@import 'variables';

.container {
    padding: 1% 35%;
}
.toggleClass {
    color: $light;
    cursor: pointer;
}
.active {
    background: $maroon;
    
}
.sub-container {
    padding: 5% 10%; 
    position: relative;
    background: $sletgrey;
    height: 56rem;
}

.incorrect-container {
    background: $pink;
    text-align: center;
}

.mat-hint {
    color: $light;
}

.mat-form-field {
    width: 32rem;
}

.text-container {
    text-align: center;
}

@media only screen and (max-width : 48em) {
    .container {
        padding: 32% 10%;
    }
    .mat-form-field {
        width: 23.5rem;
    }
}