$maroon: #800000;
$grey: #f3f3f3;
$blue: #182B54;
$lightBlue: #00B5E9;
$light: #ffffff;
$dark: #000000;
$yellow: #FFB11A;
$sletgrey: #708090;
$pink: #F08080;
$noaccessbluecolor: #4c4b93;
$noaccesslightgreycolor: #e0e0ef;
$noaccesswhitecolor: #f5f5ff;
$scrollbargreycolor: #f1f1f1;
$scrollbarthumbcolor: #888;
$scrollbarhovercolor: #555;

$primary-color: #191919;
$primary-color-light: lighten($blue, 10);
$secondary-color: $maroon;

$primary-link: $blue;
$secondary-link: $lightBlue;

$primary-title: $light;
$secondary-title: $yellow;

